html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    width: 1080px;
    margin: auto;
}

.header{
    background-color: aquamarine;
    color: black;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: 20px 20px 10px 20px;
    border-radius: 20px;
}

.header-img{
    width: 850px;
    border-radius: 20px;
}

.head-text{
    position: absolute;
    bottom: 45%;
    right: 55%;
    font-size: 300%;
}
.head-para{
    position: absolute;
    bottom: 38%;
    right: 50%;
    font-size: 200%;
}

.list{
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}

.list-item{
    background-color: #f8d719;
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 1.5em;
    border-radius: 20px;
}

.list-img{
    height: 350px;
    border-radius: 20px;
}

h3{
    font-size: 180%;
}

a{
    text-decoration: none;
    color: inherit;
}